body {
    /*Reference for Wallpaper: (url)
    https://www.reddit.com/r/wallpaper/comments/p25tjt/anime_girl_1920x1080/*/
    background-image: url('../images/Anime_School_Girl.webp');
    background-size: cover;

    font-family: 'Courier New', Courier, monospace;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #b4e0ff;
}

.course-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "sidebar navbar"
    "sidebar main";
    gap: 20px;
}

aside {
    grid-area: sidebar;
    border: 2px solid white;
    border-radius: 20px;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(255, 255, 255, 0.15);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}

.side-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}