body {
    /*Reference for Wallpaper: (url)
    https://www.reddit.com/r/wallpaper/comments/p25tjt/anime_girl_1920x1080/*/
    background-image: url('../images/Anime_School_Girl.webp');
    background-size: cover;

    font-family: 'Courier New', Courier, monospace;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "sidebar navbar"
    "sidebar courses-grid";
    gap: 20px;
}

nav {
    grid-area: navbar;
    border: 2px solid white;

    display: flex;
    justify-content: center;

    color: white;
}

aside {
    grid-area: sidebar;
    border: 2px solid white;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    grid-area: courses-grid;
    border: 2px solid white;
}

.side-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}