body {
    /*Reference for Wallpaper: (url)
    https://www.reddit.com/r/wallpaper/comments/p25tjt/anime_girl_1920x1080/*/
    background-image: url('../images/Anime_School_Girl.webp');
    background-size: cover;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
}

p {
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.intro-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 400px;
    height: 300px;
    padding: 5px 10px;

    border: 2px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    background: rgba(255, 255, 255, 0.15);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}

.intro-msg {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

#course-input {
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;

    width: 250px;
    height: 30px;

    background: rgba(255, 255, 255, 0.15);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);

    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}